*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 10em;
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

:root {
  --ff-logo: "Birthstone", cursive;
  --ff-heading: "Playfair Display", serif;
  --ff-body: "Lato", sans-serif;
  --primary-clr: #155377;
  --white-clr: #fff;
  --light-grey-clr: #d3d3d3;
  --medium-grey-clr: #636e6e;
  --dark-grey-clr: #4e5656;
  --dark-clr: #000;
  --border-radius: 5px;
  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--white-clr);
  font-family: var(--ff-body), sans-serif;
  font-size: 1em;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
  border-radius: var(--border-radius);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-left: 0;
}

/* TYPOGRAPHY */
/* ========== */

h1 {
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--dark-clr);
  font-family: var(--ff-heading), serif;
}

/* LINKS AND BUTTONS */
/* ================= */

a {
  color: var(--medium-grey-clr);
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
}

a:hover,
a:focus {
  color: var(--primary-clr);
  font-weight: bold;
  cursor: pointer;
}

#current {
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  border-radius: var(--border-radius);
}

#current:hover,
#current:focus {
  text-decoration: none;
  font-weight: normal;
  cursor: auto;
}

#totop {
  position: fixed;
  bottom: 10em;
  right: 0;
}

/* Links on the home page*/

.link {
  position: relative;
  padding: 0.5em;
  color: var(--medium-grey-clr);
  font-size: 1rem;
  letter-spacing: 1.1px;
}

.link:before,
.link:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.link:hover {
  cursor: pointer;
  overflow: hidden;
}

.link:hover:before {
  transition-delay: 0s;
}

.link:hover:after {
  transition-delay: 0.35s;
}

.link-left:before {
  right: 0;
}

.link-right:before {
  left: 0;
}

.link-left:before,
.link-left:after,
.link-right:before,
.link-right:after {
  top: 0;
  width: 0;
  height: 100%;
}

.link-left:before,
.link-right:before {
  border: 1px solid var(--primary-clr);
  border-width: 1px 0;
}

.link-left:hover:before,
.link-left:hover:after,
.link-right:hover:before,
.link-right:hover:after {
  width: 100%;
}

/* Btn-links on the projects page */

.btn-link {
  background: var(--primary-clr);
  padding: 0.5em;
  color: var(--white-clr);
  font-size: 0.8em;
  letter-spacing: 1.1px;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}

.btn-link:hover,
.btn-link:focus {
  background: transparent;
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
}

.btn-overview {
  background: transparent;
  padding: 0.7em;
  font-size: 0.5em;
  letter-spacing: 1.1px;
  border: 1px solid var(--medium-grey-clr);
  border-radius: var(--border-radius);
}

.btn-overview:hover {
  background: var(--primary-clr);
  color: var(--white-clr);
}

/* HEADER AREA */
/* =========== */

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 0 0;
  text-align: center;
  transition: 250ms ease;
  z-index: 1000;
}

.logo {
  color: #636e6e33;
  font: 4rem var(--ff-logo), cursive;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}

.site-title {
  text-align: center;
  position: relative;
  color: var(--dark-grey-clr);
  font-family: var(--ff-body), sans-serif;
  font-size: 1.2rem;
}

.tagline {
  margin: 0.5em 0 0;
  color: var(--medium-grey-clr);
  font-family: var(--ff-heading), serif;
  font-size: 1em;
}

/* Component: Navbar */

.navbar-container {
  background: var(--white-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  font-size: smaller;
  border-bottom: 3px groove var(--light-grey-clr);
}

.navbar-nav {
  display: inline-block;
  margin: 0.8em 0 2em;
  padding: 0;
}

.navbar.scroll {
  box-shadow: 0 15px 50px -10px rgb(100 44 0 / 7%);
}

.nav__item {
  display: inline-block;
}

.nav__link {
  display: inline-block;
  margin: 0.5em 0.8em;
  padding: 0.5em 0.8em;
  color: var(--medium-grey-clr);
  font-family: var(--ff-body), sans-serif;
  font-size: 0.8em;
  text-decoration: none;
}

.navbar-nav.show {
  display: inline-block;
}

.nav__toggle {
  display: none;
}

.toggle-icon {
  display: block;
  position: relative;
  margin: 1em 0;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after {
  background: var(--medium-grey-clr);
  width: 1.3em;
  height: 2px;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.toggle-icon::before,
.toggle-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.toggle-icon::before {
  bottom: 5px;
}
.toggle-icon::after {
  top: 4.5px;
}

.show .toggle-icon {
  transform: rotate(45deg);
}

.show .toggle-icon::before {
  opacity: 0;
}

.show .toggle-icon::after {
  transform: rotate(90deg) translate(-5px);
}

/* LAYOUT (across pages) */
/* =========================== */

.wrapper {
  max-width: 1140px;
  margin: 10em auto 0;
  padding: 0.5em 2em 1em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4em;
  margin: 0 auto;
}

.flex-container > * {
  flex: 1 1 0;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1.5em;
  margin-bottom: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 3em auto;
  padding: 0 2em;
}

/* HOME PAGE */
/* ========= */

.grid-container-home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 3em;
}

/* FOOTER */
/* ====== */

footer {
  margin-top: auto;
  padding-bottom: 2em;
  text-align: center;
}

.footer-container {
  height: 20px;
  background-image: url("../images/bg.png");
  background-size: 100% 20px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1.7em;
}

.copyright {
  font-family: var(--ff-body), sans-serif;
  font-size: 0.6rem;
  letter-spacing: 1px;
}

/* SKILLS PAGE */
/* =========== */

.skill-card {
  padding: 0 1.5em 1.5em;
  border: 1px solid var(--light-grey-clr);
  border-radius: var(--border-radius);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
}

.skill-icon {
  margin-right: 0.4em;
  color: var(--medium-grey-clr);
  font-size: 2rem;
}

/* PROJECT PAGE */
/* ============ */

figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

figure img {
  width: 100%;
  height: 100%;
}

.projects {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em;
}

.projects img,
.projects img:hover {
  transition: 0.8s ease;
}

.projects img:hover {
  transform: scale(1.2);
}

.full-width {
  margin: 0px -2000px;
  padding: 5em 2000px;
}

.project-1 {
  background: #fafafa;
}
.project-2 {
  background: #f0f0f0;
}
.project-3 {
  background: #e6e6e6;
}
.project-4 {
  background: #dbdbdb;
}
.project-5 {
  background: #d1d1d1;
}
.project-6 {
  background: #c7c7c7;
}
.project-7 {
  background: #bdbdbd;
}

.project-end {
  background: var(--dark-clr);
  color: var(--white-clr);
  text-align: center;
  box-shadow: var(--box-shadow);
}

/* Filtering on the project page */

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.filters {
  margin: 0 1em;
  padding: 0;
  text-align: center;
}

.filters * {
  max-width: 960px;
  display: inline-block;
  margin-bottom: 0.5em;
  word-spacing: 100px;
}

.filters li:not(:last-child) {
  margin-right: 0.5em;
}

.filters label {
  min-width: 50px;
  background: var(--light-grey-clr);
  padding: 0.4em 0.8em;
  border-radius: var(--border-radius);
  letter-spacing: 1.1px;
  cursor: pointer;
  transition: all 0.1s;
}

.filters label:hover {
  background: var(--primary-clr);
  color: var(--white-clr);
}

[value="All"]:checked ~ .cards [data-category] {
  display: block;
}

[value="css"]:checked ~ .cards .card:not([data-category~="css"]),
[value="html"]:checked ~ .cards .card:not([data-category~="html"]),
[value="javascript"]:checked ~ .cards .card:not([data-category~="javascript"]),
[value="wordpress"]:checked ~ .cards .card:not([data-category~="wordpress"]),
[value="sass/scss"]:checked ~ .cards .card:not([data-category~="sass/scss"]),
[value="design"]:checked ~ .cards .card:not([data-category~="design"]) {
  display: none;
}

[value="all"]:checked ~ .filters [for="all"],
[value="css"]:checked ~ .filters [for="css"],
[value="html"]:checked ~ .filters [for="html"],
[value="javascript"]:checked ~ .filters [for="javascript"],
[value="wordpress"]:checked ~ .filters [for="wordpress"],
[value="sass/scss"]:checked ~ .filters [for="sass/scss"],
[value="design"]:checked ~ .filters [for="design"] {
  background: var(--primary-clr);
  color: var(--white-clr);
}

/* ABOUT PAGE */
/* ========== */

.about-section {
  max-width: 35ch;
  margin: 0 auto 5em;
}

.slideshow-border-top {
  background-image: url("../images/illustrations/movie-tape-top.png");
}
.slideshow-border-bottom {
  background-image: url("../images/illustrations/movie-tape-bottom.png");
}

.slideshow-border-top,
.slideshow-border-bottom {
  height: 30px;
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  z-index: 100;
}

.slideshow {
  max-width: 100%;
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

@keyframes movie {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

.slideshow::before,
.slideshow::after {
  content: "";
  width: 50px;
  height: 150px;
  background: linear-gradient(to right, var(--white-clr) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  z-index: 2;
}

.slideshow::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slideshow::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: movie 60s linear infinite;
}

.slide {
  width: 250px;
  height: 200px;
}

.slide img {
  border: 3px solid rgb(46, 46, 46);
  border-width: 0 3px;
  border-radius: unset;
}

/* MISCELLANOUS */
/* ============ */

.bold {
  font-weight: bold;
}

.larger-txt {
  font-size: larger;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.grey-filter {
  filter: grayscale(1);
}

hr {
  margin: 2em 0;
  color: var(--medium-grey-clr);
  border-style: dashed;
}

.light-txt {
  color: var(--white-clr);
}

.dark-txt {
  color: var(--dark-clr);
}

/* ========================== */
/* Media Queries */
/* ========================== */

@media (max-width: 499px) {
  .link-mob {
    text-align: center;
    border: 1px solid var(--medium-grey-clr);
    border-radius: var(--border-radius);
  }
}

@media (min-width: 500px) {
  .link {
    transition: all 700ms cubic-bezier(0.77, 0, 0.175, 1);
  }

  .grid-container-home {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .grid-top {
    align-items: flex-end;
  }

  .grid-left {
    text-align: right;
  }

  .grid-right {
    text-align: left;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .navbar-nav {
    display: none;
  }

  .nav__item {
    display: block;
  }

  .nav__link {
    display: block;
  }

  .nav__toggle {
    display: block;
    width: fit-content;
    background: transparent;
    padding: 8px;
    align-self: center;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
  }

  .nav__toggle.show {
    display: block;
    background-color: #fff;
    color: #000;
  }

  .nav__toggle svg {
    display: block;
    margin: 0 auto;
    border: 2px solid transparent;
  }
}

@media (min-width: 640px) {
  .footer-container {
    height: 35px;
    background-size: 100% 35px;
  }
  .flex-container {
    flex-direction: row;
  }
  .about-section {
    max-width: 45ch;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .slideshow::before,
  .slideshow::after {
    width: 100px;
  }
}

@media (min-width: 768px) {
  figure {
    filter: grayscale(1);
    transition: transform 335ms ease-in-out;
  }

  figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  figure:hover {
    animation: colorOn ease-in-out 0.5s forwards;
    transform: scale(1.05);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  figure:hover::before {
    animation: circle 0.75s;
  }

  @keyframes colorOn {
    0% {
      filter: grayscale(0.8);
    }
    50% {
      filter: grayscale(0.5);
    }
    100% {
      filter: grayscale(0);
    }
  }

  @keyframes circle {
    0% {
      opacity: 0.5;
      background: rgba(216, 215, 214, 0.1);
    }
    50% {
      opacity: 1;
      background: rgba(133, 131, 130, 0.1);
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

@media (min-width: 800px) {
  .footer-container {
    height: 40px;
    background-size: 100% 40px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6em;
  }

  .about-section {
    max-width: 65ch;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
